body{
     margin-left: 60px;
     margin-right:20px;
     background-color: rgb(210, 224, 185);
     line-height: 1.25;
     background-attachment: scroll;
     background-repeat: repeat;
     background-image: url(https://github.com/tahirmama351/tahirmama351.github.io/commit/2e6d13062e55ca9f9d394b31e063743358b8e445);
}

h1{
     background-color:rgb(111, 221, 188);
     font-family: 'Times New Roman', Times, serif;
     text-align:center;
     color:rgb(72, 20, 195);
     font-size:27px;
}

h2{
     background-color: rgb(209, 175, 22);
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size:18px;
     color:rgb(17, 37, 219);
}

div{
     background-color: #aedae2;
}
p{
     margin-left:20px;
}
pre{
     margin-left:20px;
}
img{
     margin-left:10px;
}
ul{
     list-style-image: url(https://github.com/tahirmama351/tahirmama351.github.io/commit/1dd46f12b17847fc772c4173ad08b880a08be449);
}


