body {
     margin-left :10%;   
     font-family: 'Times New Roman', Times, serif;       
}

button {
     background-color: rgb(0, 128, 64);
     margin: 50px;
     width: 100px;
     height: 45px;
}

h1 {
     font-family: 'Times New Roman', Times, serif;
     text-align: center;
     background-color: gray;     
}

img {
     width: 70px;
     height: 70px;
     float: left;   
     padding-right: 20px;     
}
