h1{
     background-color:darkgray;
     font-family: 'Times New Roman', Times, serif;
     text-align:center;
}

body{

margin-left:50px;
padding:0;
font-size:100%;
line-height:1.25;
}

h2{
     background-color:burlywood;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size:20px
}