h1{
     color:black;
    /* background-color:black ;  /* semi_colon is important*/
     font-size: 32px;/* or 32vw which changes with the width of screen*/
     font-weight: bold;
     font-style: italic;
     border: 5px solid rgb(50, 50, 167);
     background-color: rgb(156, 106, 141);
}

h2{
     color:black;/* or we can write ass #00ff00*/
     font-style: italic;
     text-decoration:underline overline;
     text-shadow: 3px 5px green;
}
     
     
p{
     color:white;
     background-color:gray;
     /*text-align:left;*/
     line-height: 30px;
     word-spacing: 1px;
     text-indent: 5px;
}
#mission{
     color:rebeccapurple;
     background-color:peru;

}
.spetial{
     color:black;
     background-color:yellowgreen;
}
.one{
font-style: italic;
}
table,td, th{
     border: 3px solid black;
}
table{
     border: 3px solid black;
     border-collapse: collapse;

}
td{
     border:  3px solid black;
     background-color: rgb(170, 205, 238);

}